<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
	  <groups>
		  <run>
			  <include name = "OPAA-TC-224" />
			  <include name = "OPAA-TC-225" />
			  <include name = "OPAA-TC-226" />
			  <include name = "OPAA-TC-227" />
			  <include name = "OPAA-TC-228" />
		  </run>
	  </groups>
    <classes>
      <class name="testcase.LoginPage"/>
      <class name="base.BaseTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
